/*
0000000     0000000   00000000   000   000  
000   000  000   000  000   000  000  000   
000   000  000000000  0000000    0000000    
000   000  000   000  000   000  000  000   
0000000    000   000  000   000  000   000  
*/
body {
  overflow: hidden;
  color: #fff;
  border: 1px solid #222;
  border-radius: 10px;
}
#main {
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-bottom: 6px solid #111;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #000;
}
#titlebar {
  background: #111;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.titlebar-name {
  color: #999;
}
.titlebar-dot {
  color: #222;
}
#titlebar .winbutton:active {
  background-color: #f00;
}
#titlebar .winbutton:active.gray {
  background-color: #222;
}
#titlebar .winbutton.gray {
  color: #000;
}
#titlebar .winbutton svg {
  stroke-width: 2px;
  stroke: #000;
}
#titlebar:hover .winbutton.gray {
  color: #444;
}
#titlebar:hover .winbutton svg {
  stroke: #444;
}
#titlebar .winbutton.gray:hover {
  color: #999;
}
#titlebar .winbutton:hover svg {
  stroke: #999;
}
#titlebar .winbutton.gray:active {
  color: #fff;
}
#titlebar .winbutton:active svg {
  stroke: #fff;
}
.menuItem {
  color: #444;
  background-color: #111;
}
.menuItem.selected {
  color: #999;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup {
  background-color: #111;
}
.popupWindow {
  background-color: #111;
}
.popupItem {
  color: #444;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #444;
}
.popupItem.separator {
  border-top: 1px solid #0e0e0e;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupCombo {
  color: #222;
}
::-webkit-scrollbar-corner {
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #222;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b00;
}
#overlay {
  background: #0d0d0d;
}
.task .time {
  color: #555;
}
.task .file {
  color: #ff0;
}
.task .message {
  color: #888;
}
@-moz-keyframes highlightTime {
  0%, 100% {
    color: #555;
  }
  50% {
    color: #89f;
  }
}
@-webkit-keyframes highlightTime {
  0%, 100% {
    color: #555;
  }
  50% {
    color: #89f;
  }
}
@-o-keyframes highlightTime {
  0%, 100% {
    color: #555;
  }
  50% {
    color: #89f;
  }
}
@keyframes highlightTime {
  0%, 100% {
    color: #555;
  }
  50% {
    color: #89f;
  }
}
@-moz-keyframes highlightFile {
  0%, 100% {
    color: #ff0;
  }
  50% {
    color: #89f;
  }
}
@-webkit-keyframes highlightFile {
  0%, 100% {
    color: #ff0;
  }
  50% {
    color: #89f;
  }
}
@-o-keyframes highlightFile {
  0%, 100% {
    color: #ff0;
  }
  50% {
    color: #89f;
  }
}
@keyframes highlightFile {
  0%, 100% {
    color: #ff0;
  }
  50% {
    color: #89f;
  }
}
