doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title neu
        link(rel='stylesheet' href='./css/style.css' type='text/css')
        link(rel='stylesheet' href='./css/dark.css'  type='text/css')
    body
        #titlebar
        #main
    script(src="./neutralino.js")
    script(src="./main.js" type="module")
