/*
0000000     0000000   00000000   000   000  
000   000  000   000  000   000  000  000   
000   000  000000000  0000000    0000000    
000   000  000   000  000   000  000  000   
0000000    000   000  000   000  000   000  
*/

bgColor             = #000000
bodyColor           = #000000
separatorColor      = #0e0e0e
frameColor          = #111111
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #222
scrollColor         = #222
textBlurColor       = #444
textActiveColor     = #999
textFocusColor      = #fff

winbuttonActiveColor = textFocusColor
winbuttonHoverColor  = textActiveColor
winbuttonFocusColor  = textBlurColor
winbuttonBlurColor   = titleColor

frameWidth          = 6px
frameRadius         = 0px
borderRadius        = 0px
frameBorder         = frameWidth solid frameColor
bodyBorder          = 1px solid #222

// 0000000     0000000   0000000    000   000  
// 000   000  000   000  000   000   000 000   
// 0000000    000   000  000   000    00000    
// 000   000  000   000  000   000     000     
// 0000000     0000000   0000000       000     

body
    overflow            hidden
    background-color    bodyColor
    color               textFocusColor
    border-radius       borderRadius
    border              bodyBorder

// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    border-left         frameBorder
    border-right        frameBorder
    border-bottom       frameBorder
    border-bottom-left-radius  frameRadius
    border-bottom-right-radius  frameRadius
    background          bgColor

// 000000000  000  000000000  000      00000000  0000000     0000000   00000000   
//    000     000     000     000      000       000   000  000   000  000   000  
//    000     000     000     000      0000000   0000000    000000000  0000000    
//    000     000     000     000      000       000   000  000   000  000   000  
//    000     000     000     0000000  00000000  0000000    000   000  000   000  

#titlebar
    background                  frameColor
    border-top-left-radius      frameRadius
    border-top-right-radius     frameRadius

.titlebar-name
    color               textActiveColor

.titlebar-dot
    color               titleColor

#titlebar .winbutton
    &:active
        background-color titleRedColor
        &.gray
            background-color titleColor

#titlebar .winbutton.gray
    color               winbuttonBlurColor
#titlebar .winbutton svg
    stroke-width        1px
    stroke              textBlurColor   
    
#titlebar .winbutton.gray:active
    color               winbuttonActiveColor
#titlebar .winbutton:active svg    
    stroke              textFocusColor
    
#titlebar .winbutton.gray:hover    
    color               winbuttonHoverColor
#titlebar .winbutton:hover svg    
    stroke              textFocusColor
        
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    color               textBlurColor
    background-color    frameColor
    
.menuItem.selected
    color               textActiveColor
    
.menu:focus .menuItem.selected
    color               textFocusColor
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               textBlurColor
    &:not(:last-child)
        border-bottom   1px solid frameColor
    &.selected
        color           textFocusColor
        & .popupCombo
            color       textBlurColor
    &.separator
        border-top      1px solid separatorColor
    &:not(:last-child)
        border-bottom   1px solid frameColor

.popupCombo
    color               titleColor
    
//  0000000   0000000  00000000    0000000   000      000     
// 000       000       000   000  000   000  000      000     
// 0000000   000       0000000    000   000  000      000     
//      000  000       000   000  000   000  000      000     
// 0000000    0000000  000   000   0000000   0000000  0000000 

::-webkit-scrollbar-corner
    background-color        frameColor

::-webkit-scrollbar-thumb
    background-color        scrollColor
    
::-webkit-scrollbar-thumb:hover
    background-color        scrollHoverColor

    
#overlay
    background          #0d0d0d
    
// 000000000   0000000    0000000  000   000  
//    000     000   000  000       000  000   
//    000     000000000  0000000   0000000    
//    000     000   000       000  000  000   
//    000     000   000  0000000   000   000  

.task .time
    color               #555

.task .file
    color               #ff0

.task .message
    color               #888
    
// 000   000  000   0000000   000   000  000      000   0000000   000   000  000000000  
// 000   000  000  000        000   000  000      000  000        000   000     000     
// 000000000  000  000  0000  000000000  000      000  000  0000  000000000     000     
// 000   000  000  000   000  000   000  000      000  000   000  000   000     000     
// 000   000  000   0000000   000   000  0000000  000   0000000   000   000     000     

highlightColor = #89f

@keyframes highlightTime
    0%,100%   
        color           #555
    50%  
        color           highlightColor

@keyframes highlightFile
    0%,100%   
        color           #ff0
    50%  
        color           highlightColor
    
    