/*
0000000     0000000   00000000   000   000  
000   000  000   000  000   000  000  000   
000   000  000000000  0000000    0000000    
000   000  000   000  000   000  000  000   
0000000    000   000  000   000  000   000  
*/

bodyColor           = #ff0000
bgColor             = #000000
separatorColor      = #0e0e0e
frameColor          = #111111
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #222
scrollColor         = #222
textBlurColor       = #444
textActiveColor     = #999
textFocusColor      = #fff

winbuttonBlurColor   = frameColor
winbuttonFocusColor  = textBlurColor
winbuttonHoverColor  = textActiveColor
winbuttonActiveColor = textFocusColor

frameWidth          = 6px
frameRadius         = 10px
borderRadius        = 10px
frameBorder         = frameWidth solid frameColor
bodyBorder          = 1px solid #222

// 0000000     0000000   0000000    000   000  
// 000   000  000   000  000   000   000 000   
// 0000000    000   000  000   000    00000    
// 000   000  000   000  000   000     000     
// 0000000     0000000   0000000       000     

body
    overflow            hidden
    color               textFocusColor
    border              bodyBorder
    border-radius       borderRadius

// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    border-left         frameBorder
    border-right        frameBorder
    border-bottom       frameBorder
    border-bottom-left-radius  frameRadius
    border-bottom-right-radius  frameRadius
    background-color    bgColor

// 000000000  000  000000000  000      00000000  0000000     0000000   00000000   
//    000     000     000     000      000       000   000  000   000  000   000  
//    000     000     000     000      0000000   0000000    000000000  0000000    
//    000     000     000     000      000       000   000  000   000  000   000  
//    000     000     000     0000000  00000000  0000000    000   000  000   000  

#titlebar
    background                  frameColor
    border-top-left-radius      frameRadius
    border-top-right-radius     frameRadius
    overflow hidden

.titlebar-name
    color               textActiveColor

.titlebar-dot
    color               titleColor

#titlebar .winbutton
    &:active
        background-color titleRedColor
        &.gray
            background-color titleColor
            
#titlebar .winbutton.gray
    color               winbuttonBlurColor
#titlebar .winbutton svg
    animation           6000ms ease-in-out winbuttonFadeStrokeOut
    stroke-width        2px
    stroke              winbuttonBlurColor

#titlebar:hover .winbutton.gray            
    color               winbuttonFocusColor
#titlebar:hover .winbutton svg
    animation           300ms ease-in-out winbuttonFadeStroke
    stroke              winbuttonFocusColor
    
#titlebar .winbutton.gray:hover    
    color               winbuttonHoverColor
#titlebar .winbutton:hover svg    
    stroke              winbuttonHoverColor
        
#titlebar .winbutton.gray:active
    color               winbuttonActiveColor
#titlebar .winbutton:active svg    
    stroke              winbuttonActiveColor

// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    color               textBlurColor
    background-color    frameColor
    
.menuItem.selected
    color               textActiveColor
    
.menu:focus .menuItem.selected
    color               textFocusColor
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               textBlurColor
    &:not(:last-child)
        border-bottom   1px solid frameColor
    &.selected
        color           textFocusColor
        & .popupCombo
            color       textBlurColor
    &.separator
        border-top      1px solid separatorColor
    &:not(:last-child)
        border-bottom   1px solid frameColor

.popupCombo
    color               titleColor
    
//  0000000   0000000  00000000    0000000   000      000     
// 000       000       000   000  000   000  000      000     
// 0000000   000       0000000    000   000  000      000     
//      000  000       000   000  000   000  000      000     
// 0000000    0000000  000   000   0000000   0000000  0000000 

::-webkit-scrollbar-corner
    background-color        frameColor

::-webkit-scrollbar-thumb
    background-color        scrollColor
    
::-webkit-scrollbar-thumb:hover
    background-color        scrollHoverColor

    
#overlay
    background          #0d0d0d
    
// 000000000   0000000    0000000  000   000  
//    000     000   000  000       000  000   
//    000     000000000  0000000   0000000    
//    000     000   000       000  000  000   
//    000     000   000  0000000   000   000  

.task .time
    color               #555

.task .file
    color               #ff0

.task .message
    color               #888
    
//    0000000   000   000  000  00     00   0000000   000000000  000   0000000   000   000
//   000   000  0000  000  000  000   000  000   000     000     000  000   000  0000  000
//   000000000  000 0 000  000  000000000  000000000     000     000  000   000  000 0 000
//   000   000  000  0000  000  000 0 000  000   000     000     000  000   000  000  0000
//   000   000  000   000  000  000   000  000   000     000     000   0000000   000   000

@keyframes winbuttonFadeStroke
    0%
        stroke          winbuttonBlurColor
    100%  
        stroke          winbuttonFocusColor

@keyframes winbuttonFadeStrokeOut
    0%
        stroke          winbuttonFocusColor
    100%  
        stroke          winbuttonBlurColor
        
    
    